@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600;700&display=swap");
body {
  background-color: #f5f5f5 !important;
  font-family: Poppins;
  color: #2e2e2e;
  overflow: hidden;
}

.header {
  background-color: #ffffff !important;
  width: 100%;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.search_inp {
  padding: 11px 16px;
  border-radius: 8px 0 0 8px;
  background-color: #f1f1f1;
  font-size: 15px;
  width: 38em !important;
  border: none;
  height: 43px;
}

.search_inp:focus,
.search_inp:active {
  background-color: #f5f5f5;
  border: none;
}

.button-search {
  background-color: #ffe11b;
  border: 1px solid #ffe11b;
  border-radius: 0 8px 8px 0;
  color: #2e2e2e;
  padding: 20px 20px;
  height: 43px;
  cursor: pointer;
  display: flex;
  align-items: center;
}
.button-search:hover {
  background-color: #ffde09;
  color: #565656;

  border: 1px solid #ffdd00;
}

.button-search:active {
  background-color: #e8ca03 !important;
  color: #565656 !important;
  border: 1px solid #ffdd00 !important;
}

.btn-login {
  background-color: #ffe11b;
  border: 1px solid #ffe11b;
  color: #2e2e2e;
  padding: 20px 20px;
  height: 43px;
  cursor: pointer;
  display: flex;
  align-items: center;
  font-family: Poppins;
}

.btn-login:active {
  background-color: #e8ca03 !important;
  color: #565656 !important;
  border: 1px solid #ffdd00 !important;
}

.btn-signup {
  border: 2px solid #ffe11b;
  color: #2e2e2e;
  padding: 20px 20px;
  height: 43px;
  cursor: pointer;
  display: flex;
  align-items: center;
  font-family: Poppins;
}

.btn-signup:active {
  background-color: #e8ca03 !important;
  color: #565656 !important;
  border: 2px solid #ffdd00 !important;
}

a {
  text-decoration: none;
}

.btn-login:hover {
  background-color: #fcdb00;
  border: 1px solid #ffdd00;
  color: #2e2e2e;
}

.btn-signup:hover {
  background-color: #ffe11b;
  color: #2e2e2e;
  border: 2px solid #ffe11b;
}

.cart_icon {
  position: relative;
  width: 1.5em;
  height: 1.5em;
}
.cart_count {
  position: absolute;
  background-color: #ffe11b;
  font-size: 12px;
  padding: 0.8em;
  border-radius: 50%;
  width: 2px;
  height: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Poppins;
  top: -0.9em;
  right: -0.6em;
}

.nav-img {
  width: 75px;
  height: 65px;
  cursor: pointer;
  margin-right: 1em;
  margin-left: 0.5em;
}

.bg_login {
  background-color: #fff;
  width: 50%;
  z-index: 100;
}

.login_h2 {
  font-family: Quicksand;
  font-weight: bold;
}
.sub_btn {
  background-color: #ffe11b;
  border: 1px solid #ffe11b;
  color: #2e2e2e;
  padding: 20px 20px;
  cursor: pointer;
  height: 3.5em;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-family: Quicksand;
  font-weight: bold;
}
.sub_btn:hover {
  background-color: #ffde09;
  color: #565656;
  border: 1px solid #ffdd00;
}

.sub_btn:active {
  background-color: #e8ca03 !important;
  color: #565656 !important;
  border: 1px solid #ffdd00 !important;
}

.hrdivider {
  position: relative;
  margin-bottom: 20px;
  width: 100%;
  text-align: center;
}

.hrdivider span {
  position: absolute;
  top: 5px;
  background: #fff;
  padding: 0 20px;
  font-weight: bold;
  font-size: 16px;
  left: 45%;
}

.login_or_span {
  font-family: Quicksand;
}

.bg_login {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.fb_login {
  background-color: #f2f2f2;
  border: 1px solid #f2f2f2;
}
.google_login {
  border: 1px solid #f2f2f2;
  background-color: #f2f2f2;
}
.apple_login {
  border: 1px solid #f2f2f2;
  background-color: #f2f2f2;
}

.apple_login:hover {
  border: 1px solid #f2f2f2;
  background-color: #f2f2f2;
}
.google_login:hover {
  border: 1px solid #f2f2f2;
  background-color: #f2f2f2;
}
.fb_login:hover {
  border: 1px solid #f2f2f2;
  background-color: #f2f2f2;
}

.brand_logo {
  color: #2e2e2e;
  margin-right: 1em;
  width: 1.3em;
  height: 1.3em;
}
.image_hidden_man {
  position: absolute;
  right: -5.3em;
  bottom: -1em;
  width: 500px;
  height: 500px;
  z-index: -1;
}

.arrow {
  position: absolute;
  top: 18%;
  left: -2em;
  width: 10em;
  height: 10em;
  z-index: -1;
}

.signup_forgot {
  position: absolute;
  left: 6%;
  top: 30%;
  z-index: 1;
  font-family: Quicksand;
  font-weight: bold;
}

.signup_forgot a {
  font-family: Poppins;
  font-weight: 600;
  cursor: pointer;
}
